/* Reseteo */
*{
    padding: 0px;
    margin: 0px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.empresa {
    color: black;
    width: 200px;
    font-size: 24px;
    margin-left: 20px; 
    text-decoration: none;  
}
.navmenu {
    margin: 0px 0px 0px 67px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .menu-icon {
      display: none;
      cursor: pointer;
    }
  
    .menu {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }
  
    .menu, li {
      margin: 5px;
      text-decoration: none;

    }
    .textmenu{
        text-decoration: none;
        color: #000;
    }
  
    @media (max-width: 768px) {
      margin: 0;
      background-color: transparent;
      box-shadow: none;
  
      .menu-icon {
        display: inline-block;
        margin-right: 20px;
      }
  
      .menu {
        display: none;
        background-color: #f1f1f1;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
  
      li {
        display: block;
        margin: 10px 0;
      }
  
      #menu-toggle:checked + .menu {
        display: block;
      }
    }
  }
  
  
header {
    background-image: url(../recursos/img/tazass.jpg);
    background-size: cover;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header *{
    display: inline;
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fondo {
  background-image: url(/recursos/img/copass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  padding: 20px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
h2 {
    color: yellow;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
footer {
    background-color: rgba(217, 217, 217, 0.45);
    height: 89px;
}
.letras {
    color: rgb(1, 10, 17);
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
img{
    height: 150px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

#H1 {
    color: rgb(252, 252, 252);
}
h2 {
    display: flex;
    justify-content: center;
}

.textoamarillo{
    display: flex;
    color: rgb(249, 249, 247);
    justify-content: center;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
main {
    flex-grow: 1;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    main {
      padding: 10px;
    }
  
    .celdas {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .celdas2 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    main {
      padding: 20px 50px;
    }
  
    .celdas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  
    .celdas2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  
  @media (min-width: 1025px) {
    main {
      padding: 20px;
    }
  
    .celdas {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  
    .celdas2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.armatuevento img, .consultaarticulos img, .quepasa img{
    width: 30vw;
    height: 25vh;
    margin: 5px;
}
.armatuevento text, .consultaarticulos text, .quepasa text {
    color: white;
    justify-content: center;
    

}

.armatuevento a, .quepasa a, .consultaarticulos a{
    color: white;
    justify-content: center;
    text-align: center;
}
.armatuevento {
    display: flex;
    flex-direction: column;
}
.alqartcolumn1 img, .alqartcolumn2 img, .alqartcolumn3 img {
    width: 10vw;
    height: 8vh;
}

/*  */
#listaatpe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 150px;
    gap: 20px;
    justify-content: center;
}

#listaatpe div {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
    text-align: center;
}
.fondoatpe {
    background-image: url(../recursos/img/fondomadera.jpg);
    background-size: 100%;
    min-height: 100vh;
  }
  .fondoatpe {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .fondoatpe form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }
  .fondoatpe {
    overflow-x: hidden;
    overflow-y: auto;
  }
        
#listaatpe h2 {
    list-style: none;
    width: 150px;
    margin: 35px;
    background-color: rgba;
    /* height: 150px; */
}

.fondoatpe {
    background-image: url(../recursos/img/fondomadera.jpg);
    background-size: 100%;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.fondoca {
background-image: url(../recursos/img/fondomadera.jpg);
background-size: 100%;
}
.consultaarticulos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
    height: 188px;
    width: 188px;
}

#consultaarticulos {
    text-align: center;
    color: #000;
    
}
#listaca{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 150px;
    gap: 20px;
    justify-content: center;
}

#listaca div {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
    text-align: center;
}

#listaca h2 {
    list-style: none;
    width: 150px;
    margin: 35px;
    background-color: rgba;
    /* height: 150px; */
}

#listaca div img{
    width: 150px;
    min-height: 200px;
    object-fit: cover;
}    

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.quepasa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 188px;
    width: 188px;
    color: wheat;
}
.celdas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    margin: 40px;
}
.celdas2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 45px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.conocenosmas, .envios {
    display: flex;
    flex-direction: column;
    height: 188px;
    width: 188px;
    color: white;
    text-align: center;
    
}
.conocenosmas img, .envios img {
    height: 159px;
    width: 188px;
    display: flex;
    
    
}
.conocenosmas a, .envios a {
    color: white;
    justify-content: center;
    text-decoration: none;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.fondofaqs {
    background: url(./recursos/img/faqs/tazarrota.jpg);
    background-size: cover;
    height: 16cm;
    background-position: 0cm -10cm;
}
.acordeon {
    background-color: bisque;
    color: black;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}
.active, .acordeon:hover {
    background-color: orange;
}
.panel {
    padding: 0px 25px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.login {
    width: 400px;
    height: 340px;
    background-color: rgb(79, 78, 78);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13 px 37 px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.login h5 {
    margin: 0;
    text-align: center;
    height: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color: white;
}
.cotrols {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-weight: bold;
    
}
.boton {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-bottom: 1px solid;
}
.fondoatpe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  #listaatpe {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  @media (max-width: 768px) {
    #listaatpe {
      grid-template-columns: 1fr;
    }
  }
  #listaatpe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  #listaca {
        display: flex;
        flex-wrap: wrap;
  }
  
  #listaca > div {
        flex-basis: 25%; /* Esto establece que cada columna ocupe el 25% del ancho disponible */
        padding: 10px;
  }
  .box {
    background-color: #f1f1f1;
  }
  .icono {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* Agrega otros estilos necesarios */
}

.telefono::before {
    content: "\260E"; /* Código Unicode del ícono de teléfono */
}

.instagram::before {
    content: "\f16d"; /* Código Unicode del ícono de Instagram */
    /* Puedes personalizar los estilos específicos para el ícono de Instagram */
}

.ubicacion::before {
    content: "\f041"; /* Código Unicode del ícono de ubicación */
    /* Puedes personalizar los estilos específicos para el ícono de ubicación */
}
