/* Reseteo */
*{
    padding: 0px;
    margin: 0px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.empresa {
    color: black;
    width: 200px;
    font-size: 24px;
    margin-left: 20px; 
    text-decoration: none;  
}
.nav li{
    margin: 20px;
    text-decoration: none;  
}
.nav {
    margin: 0px 0px 0px 67px;
}
a{
    text-decoration: none;
}

header {
    background-image: url(../recursos/img/tazass.jpg);
    background-size: cover;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header *{
    display: inline;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
main{
    min-height: 554px;
}
.fondo {
    background-image: url(../recursos/img/copass.jpg);
    background-size: cover;
    height: 644px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
h2 {
    color: yellow;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
footer {
    background-color: rgba(217, 217, 217, 0.45);
    height: 89px;
}
.letras {
    color: rgb(1, 10, 17);
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
img{
    height: 150px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

#H1 {
    color: rgb(252, 252, 252);
}
h2 {
    display: flex;
    justify-content: center;
}

.textoamarillo{
    display: flex;
    color: rgb(249, 249, 247);
    justify-content: center;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.armatuevento{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
    height: 188px;
    width: 188px;
}

.armatuevento img, .consultaarticulos img, .quepasa img{
    width: 188px;
    height: 159px;
    margin: 5px;
}
.armatuevento text, .consultaarticulos text, .quepasa text {
    color: white;
    justify-content: center;
    

}

.armatuevento a, .quepasa a, .consultaarticulos a{
    color: white;
    justify-content: center;
    text-align: center;
}
.fondoatpe {
    background-image: url(../recursos/img/armatuevento/atpe.jpg);
    background-size: 100%;
    background-position:30cm;
    background-position-x: center;
}
.alqartcolumn1 img, .alqartcolumn2 img, .alqartcolumn3 img {
    width: 93px;
    height: 88px;
}

/*  */
#listaatpe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 150px;
    gap: 20px;
    justify-content: center;
}

#listaatpe div {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
    text-align: center;
}

#listaatpe h2 {
    list-style: none;
    width: 150px;
    margin: 35px;
    background-color: rgba;
    /* height: 150px; */
}

#listaatpe div img{
    width: 150px;
    min-height: 200px;
    object-fit: cover;
}
.fondoatpe {
    background-image: url(../recursos/img/armatuevento/atpe.jpg);
    background-size: 100%;
    background-position:30cm;
    background-position-x: center;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.fondoca {
background-image: url(../recursos/img/fondomadera.jpg);
background-size: 100%;
}

#consultaarticulos {
    text-align: center;
    color: rgb(184, 152, 141);
    
}
#listaca{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 150px;
    gap: 20px;
    justify-content: center;
}

#listaca div {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
    text-align: center;
}

#listaca h2 {
    list-style: none;
    width: 150px;
    margin: 35px;
    background-color: rgba;
    /* height: 150px; */
}

#listaca div img{
    width: 150px;
    min-height: 200px;
    object-fit: cover;
}    

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.quepasa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 188px;
    width: 188px;
    color: wheat;
}
.celdas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    margin: 40px;
}
.celdas2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 45px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.conocenosmas, .envios {
    display: flex;
    flex-direction: column;
    height: 188px;
    width: 188px;
    color: white;
    text-align: center;
    
}
.conocenosmas img, .envios img {
    height: 159px;
    width: 188px;
    display: flex;
    
    
}
.conocenosmas a, .envios a {
    color: white;
    justify-content: center;
    text-decoration: none;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.fondofaqs {
    background: url(./recursos/img/faqs/tazarrota.jpg);
    background-size: cover;
    height: 16cm;
    background-position: 0cm -10cm;
}
.acordeon {
    background-color: bisque;
    color: black;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}
.active, .acordeon:hover {
    background-color: orange;
}
.panel {
    padding: 0px 25px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.login {
    width: 400px;
    height: 340px;
    background-color: rgb(79, 78, 78);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13 px 37 px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color: white;
}
.cotrols {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-weight: bold;
    
}
.boton {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-bottom: 1px solid;
}
.fondoatpe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  #listaatpe {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  @media (max-width: 768px) {
    #listaatpe {
      grid-template-columns: 1fr;
    }
  }
  #listaatpe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  #listaca {
        display: flex;
        flex-wrap: wrap;
  }
  
  #listaca > div {
        flex-basis: 25%; /* Esto establece que cada columna ocupe el 25% del ancho disponible */
        padding: 10px;
  }
  